# Python
__pycache__/
*.pyc
.venv/
*.sqlite3

# Django
/media/
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
*.bak

# IDEs
.idea/

# OS
.DS_Store
Thumbs.db