footer {
    background-color: rgba(70, 80, 130, 1);
    color: White;
    text-align: left;
    padding: 3rem 150px;
}

footer a {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

footer h4 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
}