.login-form {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    border: 1px solid DarkBlue;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 30em; /* или другая необходимая ширина */
    margin: 5em auto;
}

.login-form h1 {
    text-align: center;
    color: DarkBlue;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 0 60px;
}

.login-form-group label {
    font-size: 18px;
    color: DarkBlue;
}

.login-form input {
    font-size: 16px;
    padding: 10px;
    margin: 10px 60px;
    border-radius: 5px;
    border: 2px solid DarkBlue;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.login-form input::placeholder {
    color: #999;
}

.login-form input:focus {
    border-color: #f34723;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.login-form button {
    padding: 15px 20px;
    background-color: #f34723;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 160px;
}

.login-form button:hover {
    background-color: White;
    color: DarkBlue;
    border: 2px solid DarkBlue;
}

.login-form button:focus {
    outline: none;
}